# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [26]:
#create a dataframe using random numbers 
data = {'country': ['a', 'b', 'c', 'd'],
        'population': np.random.randint(low = 10000, high = 500000, size = 4)}
country_data = pd.DataFrame(data)

country_data

  country  population
0       a       50663
1       b      378474
2       c      414367
3       d       10225

In [27]:
#get the country with the highest population
country_data.loc[country_data['population'].idxmax()]

country            c
population    414367
Name: 2, dtype: object

In [31]:
country_data[country_data['population'] == country_data['population'].max()]

  country  population
2       c      414367