# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [27]:
import os
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

### using pandas get dummies

In [32]:
sub_train_pd_ohe = pd.get_dummies(sub_train, prefix = 'day')
print(sub_train_pd_ohe.shape)
sub_train_pd_ohe.head()

# onehotencoding之後的欄位會擴增成7個欄位

(307511, 7)

,day_FRIDAY,day_MONDAY,day_SATURDAY,day_SUNDAY,day_THURSDAY,day_TUESDAY,day_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

### using sklearn labelbinarizer

In [24]:
sub_train_lb = LabelBinarizer().fit_transform(sub_train)
print(sub_train_lb.shape)
sub_train_lb

(307511, 7)

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0]])

### using sklearn onehotencoder

In [25]:
sub_train_list = sub_train.values.tolist()
sub_train_skl_ohe = OneHotEncoder().fit_transform(sub_train_list).toarray()
print(sub_train_skl_ohe.shape)
sub_train_skl_ohe

(307511, 7)

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 1., 0., 0.]])

### label encoding

In [28]:
le = preprocessing.LabelEncoder()
le.fit(sub_train)

D:\Coding\Anaconda\envs\py_AI\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LabelEncoder()

In [29]:
list(le.classes_)

['FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'WEDNESDAY']

In [30]:
list(le.transform(['SATURDAY', 'SUNDAY', 'SUNDAY', 'MONDAY', 'MONDAY', 'WEDNESDAY']))

[2, 3, 3, 1, 1, 6]

In [31]:
list(le.inverse_transform([1, 3, 4, 5, 2, 2, 0, 6, 3]))

['MONDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'SATURDAY',
 'SATURDAY',
 'FRIDAY',
 'WEDNESDAY',
 'SUNDAY']